body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #333;
    padding: 10px;
}

.nav-bar li {
    margin: 0 15px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: #ff5733;
    transition: color 0.3s ease;
}


.social-link {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.social-link:hover {
    color: #ff5733;
    transition: color 0.3s ease;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff5733;
    transition: background-color 0.3s ease;
}


section {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
